$colorPrimaryDark: #212121;
$colorPrimary: #353535;
$colorPrimaryLight: #d4d4d4;
$colorBorder: #e0e0e0;
$colorAccent: rgb(42, 134, 240);
$dropshadowBorder: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);